<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.ltm.runningtracker">

  <permission
    android:name="com.ltm.runningtracker.WRITE"
    android:label="@string/perm_write"
    android:protectionLevel="normal" />

  <permission
    android:name="com.ltm.runningtracker.READ"
    android:label="@string/perm_read"
    android:protectionLevel="dangerous" />

  <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         locationMutableLiveData permissions for the 'MyLocation' functionality.
    -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application
    android:name=".RunningTrackerApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.NoActionBar"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name=".android.activity.PerformanceActivity"
      android:label="@string/title_activity_weather_performance"
      android:exported="false"
      android:parentActivityName="com.ltm.runningtracker.android.activity.MainScreenActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.ltm.runningtracker.android.activity.MainScreenActivity" />
    </activity>
    <activity
      android:name=".android.activity.UserProfileActivity"
      android:label="@string/title_activity_user_setup"
      android:exported="false"
      android:parentActivityName="com.ltm.runningtracker.android.activity.MainScreenActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.ltm.runningtracker.android.activity.MainScreenActivity" />
    </activity>
    <activity
      android:name=".android.activity.SettingsActivity"
      android:label="@string/title_activity_user_settings"
      android:exported="false"
      android:parentActivityName="com.ltm.runningtracker.android.activity.MainScreenActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.ltm.runningtracker.android.activity.MainScreenActivity" />
    </activity>
    <activity
      android:name=".android.activity.BrowseRunDetailsActivity"
      android:label="@string/title_activity_browse_run_details"
      android:exported="false"
      android:parentActivityName="com.ltm.runningtracker.android.activity.PerformanceActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.ltm.runningtracker.android.activity.PerformanceActivity" />
    </activity>
    <activity
      android:name=".android.activity.RunActivity"
      android:label="@string/title_activity_run"
      android:exported="false"
      android:parentActivityName="com.ltm.runningtracker.android.activity.MainScreenActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.ltm.runningtracker.android.activity.MainScreenActivity" />
      <!--
               The API key for Google Maps-based APIs is defined as a string resource.
               (See the file "res/values/google_maps_api.xml").
               Note that the API key is linked to the encryption key used to sign the APK.
               You need a different API key for each encryption key, including the release key that is used to
               sign the APK for publishing.
               You can define the keys for the debug and release targets in src/debug/ and src/release/.
          -->
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />
    </activity>
    <activity
      android:name=".android.activity.MainScreenActivity"
      android:label="@string/title_activity_main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:name=".android.service.LocationService"
      android:exported="false" />
    <service
      android:name=".android.service.WeatherService"
      android:exported="false" />

    <provider
      android:name=".android.contentprovider.DroidContentProvider"
      android:authorities="com.ltm.runningtracker.android.contentprovider.DroidContentProvider"
      android:enabled="true"
      android:exported="true"
      android:readPermission="com.ltm.runningtracker.READ"
      android:writePermission="com.ltm.runningtracker.WRITE" />

  </application>

</manifest>